<div class="plr20 clearfix">
    <div>
        <div class="col-lg-3 col-md-6 tile tile-first Height400 " style="background-image: url(https://www.cna.co.za/skin/frontend/rwd/cna/images/media/cnalogo.png); background-repeat: no-repeat; background-color:white; background-size:contain;">
            <div class="btn-group buttonP">
                <button class="btn btn-xs btn-success" title="verified"><i class="fa fa-check"></i></button>
                <button class="btn btn-xs btn-info"><i class="fa fa-search"></i></button>
                <button class="btn btn-xs btn-info"><i class="fa fa-link"></i></button>
                <button class="btn btn-xs btn-info"><i class="fa fa-download"></i></button>
            </div>
            
        </div>
        <div class="col-lg-3 col-md-6  tile mHeight200">1</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">1</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">1</div>

    </div>
    <div>
        @*<div class="col-sm-3 tile mHeight200">2</div>*@
        <div class="col-lg-3 col-md-6  tile mHeight200">2</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">2</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">2</div>
    </div>
    <div>
        <div class="col-lg-3 col-md-6  tile mHeight200">3</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">3</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">3</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">3</div>
    </div>
    <div>
        <div class="col-lg-3 col-md-6  tile mHeight200">4</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">4</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">4</div>
        <div class="col-lg-3 col-md-6  tile mHeight200">4</div>
    </div>
</div>
