/*Tile Styles*/
.tile {
    height: 250px;
    background-color: grey;
    border: solid 1px;
}

.tile:hover
{
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        z-index:5;
}

/*Height*/
.mHeight100 {
    min-height: 100px;
}

.mHeight200 {
    max-height: 200px;
}

.Height400 {
    height: 400px;
}

.Height600 {
    height: 600px;
}

.Height800 {
    height: 800px;
}

/*Buttons*/
.buttonP {
    position: absolute;
    right: 0;
    bottom: 0;
}


/*Media Queries*/


@media(max-width:767px) {
    *[class*='tile-first'] {
        margin-top: 82px;
    }
}


@media(min-width:768px) {
    *[class*='tile-first'] {
        margin-top: 82px;
    }
}

@media(min-width:992px) {
    *[class*='tile-first'] {
        margin-top: 82px;
    }       
}


